# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd

# C++ Build Artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled Framework
python/my_framework/*.so
python/my_framework/*.pyd
tests/*.so
*.so

# Data Directories
data_1/
data_2/

# Logs
*.log

# Text files
!CMakeLists.txt
!requirements.txt

# Editor/IDE
.DS_Store
.vscode/
.idea/
.env

# Jupyter Notebooks
.ipynb_checkpoints
